body {
  background: #ddd;
}

.player {
    background-image: url(../img/sprite.png);
    width: 29px;
    height: 33px;
    /* border-style: solid; */
    border-width: 15px 0 15px 35px;
    margin: 20px;
  /* border-color: transparent transparent transparent blue; */
  transform: scale(2);
  margin: 20px;
}
.player-left{
 background-position-y: -32px;
  /* transform: rotate(180deg); */
}
.player-right{
  background-position-y: 64px;
}
.player-up{
  /* transform: rotate(-90deg); */
}
.player-down{
  /* transform: rotate(90deg); */
}
.gameOver{
  background-position-y: 32px;
}
#board {
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: white;
  border: 1px solid black;
  padding: 2em;
  min-width:70px;
  max-width: 70px;
  min-height: 70px;
  max-width: 70px;
}
.targetCell{
  background-color: chartreuse;
}